#encoding utf-8
<html>
<head>
<style>@font-face {
    font-family: Free 3 of 9 Extended;
    src: url(/font/FRE3OF9X.TTF);
   }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=cp1251" /> 
</head>
<body>
#block report
#end block
#include source=$html
</body>
</html>