<?xml version="1.0" encoding="windows-1251"?>
<root>
    <database>
		<db id="9" ip="109.197.194.109/55050" path="/base/RBS.GDB" name="3Pine" db_role="" db_charset="WIN1251"/>
    </database>
    <globallog value="1"/>
    <globalsleepinterval value="60"/>
    <globaldefdirtmpfiles value="./tmp/"/>
    <globaldirreport value="report"/>
    <globaltmplreport value="reportmain"/>
	<global_tmpl_report_alcodecl value="reportmain_alcodecl"/>
    <layers_work value="True"/>
    <dbs_storage value="D:/work/litebox/database/"/>
    <dbs_storagel value="/databases/storage/"/>
    <globaldirtmpclear value="0"/>
 <engine_dir_files value="D:/work/litebox/engine/modules/files/"/>
</root>